/* Global Variables */
:root {
    --main-color: #276cda;
    --secondary-color: #ffffff;
}

*{
    box-sizing: border-box; 
}

header {
    background: linear-gradient(#276cda, #6298ee);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
}

/* Cards */
.tile.is-ancestor {
    margin-left: 3px;
}

h3 {
    display: grid;
    font-weight: bold;
    font-size: x-large;
}

.title.is-5 {
    font-weight: 800;
    font-size: 30px;
}

.button {
    width: 100%;
}

hr {
    width: 100%;
    margin-bottom: -5px 0px 15px 0px;
}
/* Searched cities buttons */
li {
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: .2rem;
    padding: .5rem;
}

li:hover{
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.input {
    margin: 15px 0px 5px 0px;
}
/* containers */
.is-9.container {
    border-radius: 5px;
    border: solid black;
    border-width: thin;
    display: table;
    margin: 25px 25px 0px 0px;
}

.is-9.containerTwo {
    margin-left: auto;
}

.is-child.box {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: bolder;
}

.tile.is-child {
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}