*{
    box-sizing: border-box; 
}

header {
    background: linear-gradient(#370ecc, #0474f3);
    color: white;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
}

.tile.is-ancestor {
    margin-left: 3px;
}

h3 {
    display: grid;
    font-weight: bold;
    font-size: x-large;
}

.title.is-5 {
    font-weight: 800;
    font-size: 30px;
}

.button, hr {
    width: 100%;
    margin-bottom: 15px;
}

li {
    background-color: lightgray;
    padding: .5rem;
    border-radius: 3px;
    margin-bottom: .2rem;
}

li:hover{
    background-color: lightslategray;
}

.input {
    margin-bottom: 10px;
}

.is-9.container {
    border: solid black;
    border-width: thin;
    display: table;
    margin: 25px 25px 0px 0px;
}

.is-9.containerTwo {
    margin-left: auto;
}

.is-child.box {
    display: inline-block;
    background-color: rgb(29, 25, 65);
    color: white;
    font-weight: bolder;
}

p {
    margin-bottom: 15px;
}